<html>
<div data-bind="foreach: entryList">
    <div class="row form-inline form-group">
        <input type="checkbox" class="form-control" style="margin-right: 2px;" data-bind="checked: enabled"></input>
        <label data-bind="css: {disabled: !enabled}">Name</label><input type="text" style="margin-left: 10px" class="form-control" data-bind="value: name, enable: enabled"></input><label data-bind="css: {disabled: !enabled}" style="margin-left: 5px;">Value</label><input type="text" style="margin-left: 10px;" class="form-control" data-bind="value: value, enable: enabled"></input>
        <button type="button" class="btn btn-default" aria-label="Remove header" data-bind="click: $parent.remove">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="row form-inline form-group">
    <input type="checkbox" class="form-control" style="margin-right: 2px; visibility:hidden;"></input>
    <label>Name</label><input type="text" style="margin-left: 10px;" class="form-control" data-bind="value: entryName, hasFocus: focusToNameField"></input><label style="margin-left: 5px;">Value</label><input type="text" style="margin-left: 10px;" class="form-control" data-bind="value: entryValue, event: { keyup: addOnEnter}"></input>
    <button type="button" class="btn btn-default" aria-label="Add header" data-bind="click: add">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
</html>
