body {
  padding-top: 10px;
}

.response-metric, .response-metric-value {
  font-size: 0.9em;
}

.response-metric-value {
  color: #d100a7;
  font-weight: bold;
}

.selected-option {
  font-weight: bold;
  font-size: 110%;
}


.panel-heading > .panel-title > a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.panel-heading.active {
  background-color: #337ab7;
  color: white;
}


.dialog {
 position: fixed;
 top: 100px;
 width: 400px;
 z-index: 100;
}

.context-dialog {
 position: absolute;
 top: 100px;
 width: 700px;
 z-index: 100;
}

.bookmark {
 display: block;
 padding: 10px 15px;
 cursor: pointer;
}

.folder {
  display: block;
  cursor: pointer;
  margin-bottom: 5px !important;
}

a.bookmark, a.folder {
 text-decoration: none;
 color: #4e4d4d;
}

a.folder:hover, a.bookmark:hover, .folder .panel-heading:hover {
 background-color: #337ab7;
 color: #fff;
}

.folder .panel-heading:hover > a {
 color: #fff;
}


.element {
 border: 1px solid transparent;
 border-color: #ddd;
 border-radius: 4px;
 margin-bottom: 5px;
}

.folder .panel-heading {
 background-color: #fff;
}

.folder .panel {
 background-color: #ccc;
}

label.disabled {
  color: gray;
}

.dropdown-submenu{ position: relative; }

.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
  border-left-color:#555;
}
.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.copy-n-paste {
  cursor: pointer;
  float: left;
}

.ctx-menu {
  width: 200px;
  height: 100px;
  z-index: 100;
}

.ctx-menu-item {
 background-color: #f5f5f5;
}

.ctx-menu-item:hover {
  background-color: #337ab7;
  color: white;
}
