body {
  padding-top: 10px;
}

.response-metric, .response-metric-value {
  font-size: 0.9em;
}

.response-metric-value {
  color: #d100a7;
  font-weight: bold;
}

.selected-option {
  font-weight: bold;
  font-size: 110%;
}


.panel-heading > .panel-title > a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.panel-heading.active {
  background-color: #337ab7;
  color: white;
}


.dialog {
 position: absolute;
 top: 100px;
 width: 400px;
 z-index: 100;
}

.bookmark {
 display: block;
 padding: 10px 15px;
 cursor: pointer; 
}

.folder {
  display: block;
  cursor: pointer;
  margin-bottom: 5px !important;
}

a.bookmark, a.folder {
 text-decoration: none;
 color: #4e4d4d;
}

a.folder:hover, a.bookmark:hover, .folder .panel-heading:hover {
 background-color: #337ab7; 
 color: #fff;
}

.folder .panel-heading:hover > a {
 color: #fff;
}


.element {
 border: 1px solid transparent;
 border-color: #ddd;
 border-radius: 4px;
 margin-bottom: 5px;
}

.folder .panel-heading {
 background-color: #fff;
}

.folder .panel {
 background-color: #ccc;
}

label.disabled {
  color: gray;
}

